<footer>
    <nav>
        <a href='https://wonyong-jang.github.io/' target='_blank'>Blog</a> |
        <a href='https://github.com/wonyong-jang/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/WonYong-Jang/Pharmacy-Recommendation</span><br>
        <span>Copyright 2022. WonYong-Jang. All Rights Reserved.</span>
    </p>
</footer>