<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Pharmacy Recommendation Results</h2>
</div>

    <table border="1">
        <tr>
            <th>약국명</th>
            <th>약국 주소</th>
            <th>길안내 링크</th>
        </tr>
        <tr th:each="outputForm: ${outputFormList}">
            <td th:text="${outputForm.pharmacyName}"></td>
            <td th:text="${outputForm.pharmacyAddress}"></td>
            <td>
                <a th:href="@{${outputForm.directionUrl}}">
                    <span th:text="${outputForm.directionUrl}"></span>
                </a>
            </td>
        </tr>
    </table>

</body>
</html>