<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Pharmacy Recommendation Results</h2>
</div>

    <table border="1">
        <tr>
            <th>약국명</th>
            <th>약국 주소</th>
            <th>길안내 링크</th>
        </tr>
        {{#each outputFormList}}
        <tr>
            <td>{{pharmacyName}}</td>
            <td>{{pharmacyAddress}}</td>
            <td><a href="{{directionUrl}}">{{directionUrl}}</a></td>
        </tr>
        {{/each}}
    </table>

</body>
</html>
